svg.lucide.lucide-edit {
    width: 18px;
}

.form-control:focus {
    color: inherit !important;
    background-color: inherit !important;
}

html {
    overflow: hidden;
    background-color: #282828;
    scroll-behavior: smooth;
}

nav#nav-header {
    position: sticky;
    top: 0;
    height: 64px;
    z-index: 1000;
}

header#content-header {
    position: sticky;
    top: 64px;
    height: 39px;
    z-index: 999;
}

main {
    max-height: calc(100vh - 102px);
    overflow-y: auto;
}

.ui-right-panel {
    position: sticky;
    top: 0;
    max-height: calc(100vh - 150px);
    overflow-y: hidden;
}

.ui-right-panel>.panel {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
}

#ui-post-panel .panel-header,
.ui-right-panel>.panel>.panel-header {
    flex-shrink: 0;
    position: relative;
}

#ui-post-panel,
.ui-right-panel>.panel>.panel-content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    scrollbar-gutter: stable;
}

main::after,
header#content-header::after,
.ui-right-panel>.panel>.panel-header::after,
.ui-right-panel>.panel::after,
#ui-post-panel .panel-header::after,
#ui-post-panel .panel-content::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    /* ユーザー操作をブロックしない */
    pointer-events: none;
    z-index: 10;
}

/* 上部の影 */
header#content-header::after,
.ui-right-panel>.panel>.panel-header::after,
#ui-post-panel .panel-header::after {
    bottom: -20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), transparent);
}

/* 下部の影 */
main::after,
.ui-right-panel>.panel::after,
#ui-post-panel .panel-content::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);
}

/* Chrome, Safari, Opera 用 */
::-webkit-scrollbar {
    width: 12px;
    /* スクロールバーの幅 */
}

::-webkit-scrollbar-track {
    background: #282828;
    /* トラックの背景色 */
}

::-webkit-scrollbar-thumb {
    background-color: #282828;
    /* サム（つまみ）の色 */
    border-radius: 6px;
    /* 角を丸く */
    border: 3px solid #1a1a1a;
    /* トラックと同色の境界線でインセット風に */
}

/* Firefox 用 */
* {
    scrollbar-width: thin;
    /* 「thin」で細めのスクロールバー */
    scrollbar-color: #336981 #1a1a1a;
    /* サムとトラックの色 */
}

main {
    scrollbar-width: thin;
    /* 「thin」で細めのスクロールバー */
    scrollbar-color: #1a1a1a #1a1a1a;
    /* サムとトラックの色 */
}

.tag-item {
    font-size: 11px !important;
    height: 22px;
}

.object-fit-cover {
    object-fit: cover;
}

.set-image {
    position: relative;
}

.set-image .delete-imgage-btn {
    position: absolute;
    right: -5px;
    top: -5px;
    float: right;
    color: #336981;
    background: #ffffffdb;
    border-radius: 3px;
}

/* .open-tab .open-tab-container {
    animation-duration: 0.15s;
    animation-name: openTab;
    max-height: 350px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

@keyframes openTab {
    from {
        max-height: 0px;
    }
    to {
        max-height: 350px;
    }
} */

.md-code-btn {
    padding: 2px 7px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin: 3px 0px 3px 2px;
    font-size: 12px;
    background: #1c1c1c1c;
}

/* -----------------------------------
    記事日付
----------------------------------- */

.c-postTitle__date {
    border-right: 1px solid var(--color_border);
    font-weight: 400;
    line-height: 20px;
    margin-right: .75em;
    padding: .5em .75em .5em .5em;
    text-align: center;
    font-style: italic;
    color: #cfcfcf;
}

.c-postTitle__date .__ymd .c-postTitle__date .__time {
    display: block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 4px;
}

.c-postTitle__date .__md {
    display: block;
    font-size: 20px;
}
