#html-preview {
    width: 100%;
}

/* -----------------------------------
    タイトル・見出し
----------------------------------- */
/*
article h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

article h3 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
} */

h1 {
    font-size: xx-large;
    font-weight: bold;
    word-break: break-word;
}

.post-body h2 {
    /* border-bottom: 1px solid #ccc; */
    margin-top: 2em;
}

.post-body h2,
.post-body h3,
.post-body h4 {
    position: relative;
    scroll-margin-top: 80px;
    /* 見出しにジャンプしてもヘッダーに隠れないように */
    padding-left: 0.5em;
    border-left: 4px solid #3b82f6;
    margin-top: 2em;
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;
}

.post-body h2 {
    font-size: 1.5rem;
    /* border-color: #2563eb; */
}

.post-body h3 {
    font-size: 1.25rem;
    border-color: #26dcba;
}

.post-body h4 {
    font-size: 1.1rem;
    /* border-color: #60a5fa; */
}

.post-body p {
    word-wrap: break-word;
}

.post-body ul {
    margin-top: 1.5em;
}

/* -----------------------------------
    カテゴリ
----------------------------------- */

#post-article .post-info-block {
    display: block;
}

#post-article .post-info-block .c-postTitle__date {
    float: right;
    text-align: right;
    width: 135px;
}

.cat-tag .cat {
    font-size: small;
    font-weight: bold;
    font-style: italic;
    width: calc(100% - 135px);
    padding: .25em .75em .15em 0;
    margin-bottom: 5px;
    margin-right: .75em;
    line-height: 22px;
    float: left;
}

/* -----------------------------------
    タイトル日付
----------------------------------- */

.c-postTitle__date {
    border-right: 1px solid var(--color_border);
    font-weight: 500;
    line-height: 22px;
    /* margin-right: .75em; */
    padding: .25em .75em .15em 0;
    text-align: left;
    /* border-right: 1px solid #999; */
    max-width: fit-content;
    font-size: 14px;
    font-style: italic;
    color: #666;
}

.c-postTitle__date .__y {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4px;
}

.c-postTitle__date .__md {
    display: block;
    font-size: 20px;
}

/* -----------------------------------
    記事タグ
----------------------------------- */

.tag-list {
    list-style: none;
    display: inline-block;
    align-self: center !important;
}

.tag-list li {
    float: left;
}

.tag-list li.tag-item {
    font-size: 10px !important;
    font-weight: bold !important;
    /* font-style: italic !important; */
    height: 18px;
    line-height: 18px;
    margin-top: 2px;
    margin-bottom: 8px;
}

.tag-list li.tag-item .tag {
    background-color: #eef;
    padding: 4px 8px;
    margin-right: 5px;
    border-radius: 4px;
}

/* -----------------------------------
    区切り線
----------------------------------- */

article hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -----------------------------------
    目次
----------------------------------- */

.toc {
    font-family: 'Segoe UI', sans-serif;
    font-size: 0.95rem;
    /* background: #f9fafb; */
    /* border: 1px solid #e5e7eb; */
    padding: 1em 1.2em;
    border-radius: 8px;
    max-width: 600px;
    line-height: 1.6;
    /* background: #ffffff; */
    box-shadow: 0px 4px 4px 0px #3333330d;
    /* background: #ededed; */
    /* border: 1px solid #FFF; */
}

.toc ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.toc li[class*="language-"] {
    margin: 0.2em 0;
}

.toc li.language-2 {
    padding-left: 20px;
}

.toc li.language-3 {
    padding-left: 40px;
}

.toc li.language-4 {
    padding-left: 60px;
}

.toc li.language-5 {
    padding-left: 80px;
}

.toc li.language-6 {
    padding-left: 100px;
}

.toc a {
    color: #2563eb;
    text-decoration: none;
    transition: color 0.2s ease;
    border-left: 3px solid #cfcfcf;
    padding-left: 10px;
}

.toc a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}

/* 階層ごとのインデント */
.toc-level-2 {
    margin-left: 0em;
    border-color: #3b82f6;
}

.toc-level-3 {
    margin-left: 1em;
    border-color: #26dcba;
}

.toc-level-4 {
    margin-left: 2em;
    border-color: #cfcfcf;
}

.toc-level-5 {
    margin-left: 3em;
    border-color: #cfcfcf;
}

.toc-level-6 {
    margin-left: 4em;
    border-color: #cfcfcf;
}

/* -----------------------------------
    強調
----------------------------------- */

article code {
    background: #dfdfdf;
    padding: 2px 6px;
    border-radius: 3px;
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    top: -1px;
    position: relative;
}

/* -----------------------------------
    コード
----------------------------------- */

:not(pre)>code[class*="language-"],
pre[class*="language-"],
pre.code {
    width: calc(100% + 1em);
    left: -0.5em;
    position: relative;
    border-radius: 0.25em;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"],
pre.code code span {
    font-size: 13px;
}

/* -----------------------------------
    注釈
----------------------------------- */

.note {
    background: #f8f8d8;
    border-left: 4px solid #f2c037;
    padding: 1em;
    margin: 1em 0;
    font-style: italic;
}

.note {
    background-color: #fef9c3;
    border-left: 4px solid #facc15;
    padding: 1em;
    margin: 1.5em 0;
    border-radius: 4px;
    font-size: 0.95rem;
    color: #4b5563;
}

/* -----------------------------------
    画像
----------------------------------- */

.post-image {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
}

.post-image img {
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 10px -5px #666;
}


.post-image.eyecatch {
    margin-top: 0px;
}

.post-image.eyecatch img {
    height: 100%;
    width: 100%;
    max-height: 350px;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: inherit;
}

@media (max-width: 648px) {
    #post-article {
        font-size: small;
    }

    #post-article h1 {
        font-size: x-large;
        font-weight: bold;
        word-break: break-word;
    }

    #post-article h2 {
        font-size: large;
    }

    #post-article h3 {
        font-size: medium;
    }

    #post-article h4 {
        font-size: medium;
    }

    #post-article .post-info-block .c-postTitle__date {
        font-size: x-small;
        font-style: normal;
        width: 95px;
        margin-right: 5px;
        padding: 0;
        display: block;
    }

    #post-article .post-info-block .cat-tag .cat {
        font-size: x-small;
        font-style: normal;
        line-height: 1.25rem;
    }

    #post-article .post-info-block .tag-list {
        width: 100%;
    }

    #post-article .post-info-block .tag-list li.tag-item {
        font-size: x-small !important;
        font-weight: bold !important;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #post-article .post-info-block .tag-list li.tag-item .tag {
        padding: 2px 4px;
        margin-right: 3px;
        border-radius: 3px;
    }

    .post-item-bar {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .toc {
        font-size: small;
        padding: 1em 0.5em;
    }

    pre code {
        font-size: small;
    }

    pre[class*="language-"] {
        padding: .5em !important;
    }

}
