
html {
    /* overflow: hidden; */
    background-color: #282828;
    scroll-behavior: smooth;
}
nav#nav-header {
    /* position: sticky; */
    /* top: 0; */
    height: 64px;
    /* z-index: 1000; */
}

header#content-header {
    position: sticky;
    top: 0px;
    height: 39px;
    z-index: 999;
}


header#content-header {
    z-index: 100;
}

#main-layout {
    position: flex;
    max-width: 1600px;
    width: calc(100% - 100px);
}
#site-side-menu {
    top: 60px;
    height: fit-content;
}
.r-side-content {
    margin-top: 24px;
    max-height: 100vh;
    padding-bottom: 24px;
    position: sticky;
    top: 60px;
    width: 300px;
    will-change: transform;
}
.content-headding {
    position: relative;
    scroll-margin-top: 80px;
    padding-left: 0.5em;
    border-left: 4px solid #3b82f6;
    /* margin-top: 2em; */
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.25em;
}
.content-headding-sub {
    position: relative;
    scroll-margin-top: 80px;
    padding-left: 0.5em;
    border-left: 4px solid #26dcba;
    /* margin-top: 2em; */
    font-weight: 600;
    color: #111827;
    margin-bottom: 10px;
    font-size: 1.25em;
}
.content-container {
    max-width: 920px;
    width: calc(100% - 600px);
}
.post-container {
    display: flex;
}
.post-item-bar .thumnail {
    display: flex;
    width: 150px;
}
.post-item-bar .thumnail img {
    height: 100px;
    width: 150px;
    object-fit: cover;
}
.post-info .title {
    height: 60px;
    line-height: 30px;
}

/* -----------------------------------
    目次
----------------------------------- */

.post-toc .toc {
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    /* background: #f9fafb; */
    /* border: 1px solid #e5e7eb; */
    padding: 1em 1.2em;
    border-radius: 8px;
    max-width: 600px;
    line-height: 1.6;
    /* background: #ffffff; */
    box-shadow: 0px 4px 4px 0px #3333330d;
    /* background: #ededed; */
    /* border: 1px solid #FFF; */
}

.post-toc .toc ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.post-toc .toc li {
    /* margin: 0.2em 0; */
    margin-bottom: 5px;
}

.post-toc .toc li.language-2 {
    padding-left: 20px;
}

.post-toc .toc li.language-3 {
    padding-left: 40px;
}

.post-toc .toc li.language-4 {
    padding-left: 60px;
}

.post-toc .toc li.language-5 {
    padding-left: 80px;
}

.post-toc .toc li.language-6 {
    padding-left: 100px;
}

.post-toc .toc a {
    color: #24637f;
    text-decoration: none;
    transition: color 0.2s ease;
    line-height: 15px;
    border-left: 3px solid #cfcfcf;
    padding-left: 5px;
}

.post-toc .toc a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}

/* 階層ごとのインデント */
.post-toc .toc .toc-level-2 {
    font-weight: 500;
    margin-left: 0em;
}

.post-toc .toc .toc-level-3 {
    margin-left: 1em;
}

.post-toc .toc .toc-level-4 {
    margin-left: 2em;
}

.post-toc .toc .toc-level-5 {
    margin-left: 3em;
}

.post-toc .toc .toc-level-6 {
    margin-left: 4em;
}
