
html {
    /* overflow: hidden; */
    background-color: #282828;
    scroll-behavior: smooth;
}
nav#nav-header {
    /* position: sticky; */
    /* top: 0; */
    height: 64px;
    /* z-index: 1000; */
}

header#content-header {
    position: sticky;
    top: 0px;
    height: 39px;
    z-index: 999;
}


header#content-header {
    z-index: 100;
}

#main-layout {
    position: flex;
    max-width: 1600px;
    width: calc(100% - 100px);
}
#site-side-menu {
    top: 60px;
    height: fit-content;
}
.r-side-content {
    margin-top: 24px;
    max-height: 100vh;
    padding-bottom: 24px;
    position: sticky;
    top: 60px;
    width: 300px;
    will-change: transform;
}
.content-headding {
    position: relative;
    scroll-margin-top: 80px;
    padding-left: 0.5em;
    border-left: 4px solid #3b82f6;
    /* margin-top: 2em; */
    font-weight: 600;
    color: #111827;
    margin-bottom: 20px;
    font-size: 1.5em;
    line-height: 1.25em;
}
.content-headding-sub {
    position: relative;
    scroll-margin-top: 80px;
    padding-left: 0.5em;
    border-left: 4px solid #26dcba;
    /* margin-top: 2em; */
    font-weight: 600;
    color: #111827;
    margin-bottom: 10px;
    font-size: 1.25em;
}
.content-container {
    max-width: 920px;
    width: calc(100% - 600px);
}
.post-container {
    display: flex;
}
.post-item-bar .thumnail {
    display: flex;
    width: 150px;
}
.post-item-bar .thumnail img {
    height: 100px;
    width: 150px;
    object-fit: cover;
}
.post-info .title {
    height: fit-content;
    line-height: 30px;
    max-height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.post-info .title a {
    overflow: hidden;          /* はみ出した部分を非表示 */
    text-overflow: ellipsis;   /* はみ出した部分を「…」に */
    max-height: 60px;
}
/* -----------------------------------
    目次
----------------------------------- */

.post-toc .toc {
    font-family: 'Segoe UI', sans-serif;
    font-size: 13px;
    /* background: #f9fafb; */
    /* border: 1px solid #e5e7eb; */
    padding: 1em 1.2em;
    border-radius: 8px;
    max-width: 600px;
    line-height: 1.6;
    /* background: #ffffff; */
    box-shadow: 0px 4px 4px 0px #3333330d;
    /* background: #ededed; */
    /* border: 1px solid #FFF; */
}

.post-toc .toc ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.post-toc .toc li {
    /* margin: 0.2em 0; */
    margin-bottom: 5px;
}

.post-toc .toc li.language-2 {
    padding-left: 20px;
}

.post-toc .toc li.language-3 {
    padding-left: 40px;
}

.post-toc .toc li.language-4 {
    padding-left: 60px;
}

.post-toc .toc li.language-5 {
    padding-left: 80px;
}

.post-toc .toc li.language-6 {
    padding-left: 100px;
}

.post-toc .toc a {
    color: #24637f;
    text-decoration: none;
    transition: color 0.2s ease;
    line-height: 15px;
    border-left: 3px solid #cfcfcf;
    padding-left: 5px;
}

.post-toc .toc a:hover {
    color: #1d4ed8;
    text-decoration: underline;
}

/* 階層ごとのインデント */
.post-toc .toc .toc-level-2 {
    font-weight: 500;
    margin-left: 0em;
}
.post-toc .toc .toc-level-2 a {
    border-color: #97beff;
}

.post-toc .toc .toc-level-3 {
    margin-left: 1em;
}
.post-toc .toc .toc-level-3 a {
    border-color: #26dcba;
}

.post-toc .toc .toc-level-4 {
    margin-left: 2em;
}

.post-toc .toc .toc-level-5 {
    margin-left: 3em;
}

.post-toc .toc .toc-level-6 {
    margin-left: 4em;
}
.post-toc .toc .toc-level-4 a,
.post-toc .toc .toc-level-5 a,
.post-toc .toc .toc-level-6 a {
    border-color: #cfcfcf;
}
.r-side-content .post-toc .toc {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
}
/* -----------------------------------
    画像
----------------------------------- */

.site-image {
    width: 100%;
    min-height: 100px;
    margin-top: 10px;
}

.site-image img {
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0px 4px 10px -5px #666;
}


.site-image.eyecatch {
    margin-top: 0px;
    background: #374151;
}

.site-image.eyecatch img {
    height: 100%;
    width: 100%;
    max-height: 350px;
    margin: 0 auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: inherit;
}

.site-image.eyecatch img {
    max-height: 240px;
}

/* -----------------------------------
    記事ITEMスタイル
----------------------------------- */
.post-info .tag-list li.tag-item {
    height: 15px;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.post-info .tag-list li.tag-item .tag {
    padding: 2px 4px;
    background-color: #26dcba69 !important;
    border: none !important;
    color: #495057 !important;
    margin-right: 0;
    padding: 0 2px;
    margin-right: 4px;
    font-weight: bold;
}
.post-info .post-tag-cat .cat {
    font-size: 10px;
}
.post-info .desc {
    word-break: break-all;
    line-height: 16px;
    font-size: 11px;
}
.post-info time {
    font-size: 11px;
}

/* -----------------------------------
    ページコンテンツ
----------------------------------- */
.content-headding {
    word-break: break-word;
}
.content-headding span {
    padding-top: 1px;
}
.content-item-list .item-name {
    min-width: fit-content;
}

.pc-tab-banner-slot {
    display: grid;
    overflow: hidden;
}
.mb-banner-slot {
    display: none;
}

/* -----------------------------------
    サイドメニュー
----------------------------------- */
.side-menu {
    position: relative;
}
.side-menu .inner-wrap {
    max-height: calc(100vh - 300px);
    overflow-y: auto;
    position: relative;
}

/* Chrome, Safari, Opera 用 */
.side-menu .inner-wrap::-webkit-scrollbar {
    width: 0;
}

.side-menu .inner-wrap::-webkit-scrollbar-track {
    background: transparent;
}

.side-menu::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    /* ユーザー操作をブロックしない */
    pointer-events: none;
    z-index: 10;
    bottom: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), transparent);
}
.side-menu::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    /* ユーザー操作をブロックしない */
    pointer-events: none;
    z-index: 10;
    top: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), transparent);
}
/* -----------------------------------
    レスポンシブ
----------------------------------- */
@media (max-width: 1400px) {
    aside#site-side-menu {
        display: none;
    }
    .content-container {
        width: calc(100% - 300px);
    }
}

@media (max-width: 1114px) {
    aside#site-r-side-menu {
        display: none;
    }
    .content-container {
        width: 100%;
        padding: .5rem;
    }
    #main-layout {
        width: 100%;
    }
    .content-container > .container,
    #post-article {
        padding: 2rem .5rem;
    }
    /* .content-container > .container > div, */
    #post-article > .post,
    #post-article > div {
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
    .content-container > .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .content-container > .container > div {
        padding: 0px;
    }
    .post-item-bar .thumnail {
        width: 100px;
    }
    .post-item-bar .thumnail img {
        height: 80px;
        width: 100px;
    }
    .post-info .title a {
        font-size: 14px;
        line-height: 18px;
    }
    .post-info .tag-list li.tag-item {
        height: 15px;
        line-height: 15px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
    .post-info .tag-list li.tag-item .tag {
        font-size: 10px !important;
        font-weight: bold !important;
        height: 15px;
        line-height: 15px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .content-headding code {
        margin-bottom: 2px;
        display: inline-block;
    }

    main > div {
        padding-top: 5px !important;
    }

    /* -----------------------------------
        ページコンテンツ
    ----------------------------------- */
    .content-item-list li a {
        display: inline-block;
    }
    .content-item-list .item-name {
        width: 100%;
        display: inline-block;
    }
    .content-item-list .item-sep {
        display: none;
    }
    .content-item-list .item-desc {
        width: 100%;
        display: inline-block;
        font-size: 11px;
    }
    .pc-tab-banner-slot {
        display: block;
    }
    .mb-banner-slot {
        display: none;
    }
}
@media (max-width: 648px) {
    .pc-tab-banner-slot {
        display: none;
    }
    .mb-banner-slot {
        display: block;
    }
}
